# Python
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Ambientes virtuais
env/
venv/
.venv/

# Historico gerado pelo organizador
.organizador_historico.json

# IDEs e Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
